@import "config"
@import "variables"

p.small
  font: 14px/18px $font_acrobat
  font-weight: 500
  color: $light_gray
  margin: 0
  padding: 0

// =============================================================================
// Currency item
// =============================================================================
.currency
  position: relative
  line-height: 32px
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: center
  margin-bottom: 12px
  &__icon
    width: 32px
    height: 32px
    display: inline-block
    vertical-align: top
  &__name
    display: inline-block
    font: 18px/24px $font_opensans
    color: $text_color
    vertical-align: middle
    margin-left: 20px
    font-weight: normal
  &__lost
    display: inline-block
    font: 18px/24px $font_opensans
    color: $text_color
    vertical-align: middle
    font-weight: bold
    margin-left: auto
  &__symbol
    display: inline-block
    margin-left: 5px
.page-sect
  margin: 50px 0
  display: block
  width: 100%
  overflow: hidden
  position: relative
  &__header
    width: 100%
    position: relative
    margin-bottom: 40px
    & h2
      width: 100%
      position: relative
      color: $sect_title_color
      font: 36px/36px $font_acrobat
      font-weight: 600
      text-transform: uppercase
      &:before
        content: ''
        right: calc( 100% + 15px )
        top: 5px
        left: -99999px
        height: 27px
        display: block
        position: absolute
        background-color: $yellow
  & p
    color: $text_color
    font: 14px/24px $font_opensans
    margin-bottom: 10px
    font-weight: normal

// =============================================================================
// News section
// =============================================================================
.news-preview
  &__title,
  &__title > a,
  &__title > a:visited
    color: $orange
    font: 18px/30px $font_acrobat
    font-weight: 500
    text-align: left
    margin-bottom: 10px
    text-decoration: none
    text-transform: uppercase
  &__title > a,
  &__title > a:visited
    &:hover
      text-decoration: underline
  & p.news-preview__date
    color: $extra_light_gray

// =============================================================================
// Lost Currency Section
// =============================================================================
.lost-currencies
  list-style: none