// =============================================================================
// Colors
// =============================================================================
$white: #fff
$orange: #f17a40
$dark_gray: #4a6a7a
$light_gray: #797979
$extra_light_gray: #b8b8b8
$yellow: #ffd300
$text_color: #464646
$lang_border: #7aadcd
$black_text: #242424
$black: #000
$sect_title_color: #567483